body {
  margin: 0px;
  font-family: "Lato";
  background-color: #fafafa;  
}

.gen_header {
  background: #283593;
  box-shadow: 0px 0px 10px 0px darkgrey;
  height: 100px;
}

.gen_header .header_img {
  float: left;
}

.gen_header .header_img img {
  height: 80px;
  padding: 10px;
}

.gen_header .header_title {
  float: left;
  color: white;
  padding-left: 20px;
  width: 70%;
}

.gen_header .header_title a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.gen_header .header_subtitle {
  font-size: 15px;
  color: white;
  float: left;
  font-weight: bold;
}

.gen_header .header_info {
  font-size: 15px;
  color: yellow;
  float: right;
  font-weight: bold;
}

.logout {
  float: right;
  padding-top: 35px;
}

.logout button {
  background-color: red;
  border: 0px;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  box-shadow: 1px 2px 5px 1px black;
  font-size: 20px;
  font-weight: bold;
}

.logout button:hover {
  background-color: white;
  color: red;
}

.container_body {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 90%;
  box-shadow: 1px 5px 10px 1px darkgrey;
}

.exam_form_header {
  padding: 5px;
  color: white;
  background-color: #263238;
  height: 75px;
  box-shadow: 1px 2px 2px 1px darkgrey;
}

.exam_form_header .titles {
  float: left;
}

.exam_form_header .title {
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
}

.exam_form_header .subtitle {
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}

.exam_form_header .refresh {
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  float: right;
  margin-top: 10px;
}

.exam_form_header .refresh a {
  text-decoration: none;
  color: #546e7a;
  background-color: white;
  padding: 5px;
}

.exam_form_header .refresh a:hover {
  text-decoration: none;
  color: white;
  background-color: #546e7a;
  padding: 5px;
}

.exam_form {
  padding: 20px;
}

.form_content .form_title {
  color: #283593;
  font-weight: bold;
  font-size: 15px; 
  margin-top: 15px;
  margin-bottom: 10px;
}

.form_content input[type=text], input[type=number]{
  height: 30px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
  border: 0px solid #283593;
  border-bottom: 2px solid #283593;
  width: 390px;
}

.form_content input::placeholder {
  color: #455a64;
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
}

.allotment_list table {
  box-shadow: 1px 2px 2px 1px darkgrey;
}

.allotment_list th {
  background-color: #546e7a;
  color: white;
  height: 50px;
}

.allotment_list td {
  text-align: center;
  height: 40px;
}

.submit {
  padding-left: 10px;
  margin-bottom: 20px;
}

.submit button {
  background-color: #263238;
  border: 0px;
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 1px 3px 5px 1px darkgrey;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.submit button:hover {
  background-color: white;
  color: #263238;
}

.error_message {
  font-size: 15px;
  color: #d50000;
  padding: 5px;
  font-style: italic;
}

.home_navigator {
  background-color: #3f51b5;
  width: 100%;
  color: white;
  height: 40px;
}

.home_navigator .link {
  padding: 5px;
  padding-left: 80px;
  padding-top: 10px;
}

.home_navigator a {
  text-decoration: none;
  font-size: 15px;
  color: #3f51b5;
  background-color: white;
  padding: 5px 10px 5px 10px;
}

.home_navigator a:hover {
  text-decoration: none;
  font-size: 15px;
  color: #3f51b5;
  background-color: white;
  padding: 5px 10px 5px 10px;
  box-shadow: 1px 1px 1px 1px #c5cae9;
}
